/* Підключення гарного шрифту Roboto з Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    /* Для ПК використовується один фон із напівпрозорим оверлеєм */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("1738761902238008.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

/* Загальний стиль силок */
a {
    text-decoration: none;
    color: #c79c64;
    font-size: 22px;
    transition: color 0.3s ease;
}

a:hover {
    color: #c79c64;
    text-decoration: underline;
}

/* Стилізація силок в галереї */
.gallery a {
    display: block;
    margin: 10px 0;
}

.header {
    background: rgba(5, 5, 5, 0.9);
    color: #fff;
    padding: 20px;
}

.section {
    padding: 120px;
    background-color: transparent;
}

.footer {
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 20px;
    margin-top: 25px;
    color: #fff;
}

/* Медіа-запит для мобільних пристроїв */
@media only screen and (max-width: 600px) {
    body {
        /* Зменшений базовий розмір тексту для мобільних */
        font-size: 16px;
        /* Додаємо додаткові фоновые зображення для верхньої та нижньої частини */
        background: 
          linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
          url("top-image.jpg") top center no-repeat,
          url("1738761902238008.jpg") center center no-repeat,
          url("bottom-image.jpg") bottom center no-repeat;
        background-size: cover, auto, 150% auto, auto;
    }
    
    .section {
        /* Зменшені відступи для мобільної версії */
        padding: 60px;
    }
    
    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    a {
        font-size: 18px;
    }
}

